#welcome{
    font-size:"40";
    outline-width: 10px;
    outline-color: black;
    text-align: center;
    color: blue;
}
#h1{
    font-size:"30";
    outline-width: 10px;
    outline-color: black;
    text-align: center;
    color: black;
}
#gistlink, #botlink {
    font-size:"20";
    text-align:center;
}