#welcome{
    font-size:60px;
    outline-width: 10px;
    outline-color: black;
    text-align: center;
    color: blue;
}
#h1{
    font-size:50px;
    outline-width: 10px;
    outline-color: black;
    text-align: center;
    color: black;
}
.usefullinks {
    font-size:30px;
    text-align:center;
}